html
  head
    title Hello React
    script(src='/public/scripts/react-0.11.2.min.js')
    script(src='/public/scripts/JSXTransformer-0.11.2.js')
    script(src='/public/scripts/jquery-1.11.1.min.js')
    script(src='/public/scripts/showdown.min.js')
  body
    #content
    script(type='text/jsx' src='/scripts/comment_box.ls')
